@import "compass/css3/images";

body {
  background: none;
}

body.not-front {
  @include background-image(linear-gradient(to right, #230801 0%,#140700 50%,#220700 100%));
}

.zone-branding-wrapper {
  @include background-image(linear-gradient(to right, #210901 0%,#3A2212 50%,#210901 100%));
  color: #fff;

  .zone-branding {
    a {
      color: #fff;
    }
    p {
      padding: 15px 0;
      margin: 0;
    }

    div.logo {
      padding: 0 0 10px;
    }

    ul.menu {
      padding: 8px 0;
    }

    .region-user-first {
        font-size: 28px;
        letter-spacing: 12px;

        .small-text {
          font-size: 15px;
          letter-spacing: 0px;
        }
    }

    .block-menu {
      ul {
        li {
          list-style: none outside none;
          float: left;
          a {
            color: #fff;
            font-size: 20px;

            &:hover {
              color: #FF6000;
            }
          }
        }
      }
    }
  }
}

.region-poster-left {
  background: url("../images/text.png");
  height: 500px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#region-user-second {
  float: left;
}

.page-node-2 {
  .section-content {
    .zone-content {
      border-bottom: 1px solid #fff;
    }
  }
}

.section-content {
  .zone-content {
    background: none;
    color: #fff;

    .region-content {
      margin-top: 50px;

      h1.title {
        border-bottom: 1px solid #fff;
      }
    }

    aside.region-sidebar-second {
      margin-top: 50px;
      .about-us-side-picture {
        width: 100%;
        height: 480px;
        background: url("../images/book.png");
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 0px 50px #000;
      }
    }

    .block {
      font-size: 20px;
    }
  }

  .donate-section {
    margin-bottom: 50px;
    .gifts {
      a.gift {
        padding: 30px;
        background: #57463B;
        font-size: 25px;
        color: #fff;
        border-radius: 5px;
        margin: .125em;
        display: block;
        float: left;
        min-width: 16%;
        text-align: center;
        box-sizing: border-box;

        &:hover {
          color: #000;
        }
      }
      a.active {
        background: #fff;
        color: #000;
      }
    }
  }
  .information-section {
    .input {
      width: 46%;
      margin-right: 2%;
      height: 40px;
      float: left;
      font-size: 30px;
      padding: 10px;
      position: relative;
      background: #fff;
      margin: 10px;

      .placeholder, .textarea {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .placeholder {
        z-index: 9;
        color: #868686;
        font-size: 40px;
        padding-left: 20px;
      }
      .textarea {
        z-index: 10;
      }
    }
  }
  .heading {
    display: block;
    clear: both;
    font-size: 20px;
    line-height: 60px;
  }

  a.donate-button {
      padding: 30px 0;
      background: #57463B;
      font-size: 25px;
      color: #fff;
      border-radius: 5px;
      margin-right: 5px;
      display: block;
      min-width: 10%;
      text-align: center;
      float: left;
      margin-top: 60px;
      width: 100%;

      &:hover {
        background: #fff;
        color: #000;
      }
  }
}

.zone-mosaic-wrapper {
  margin-bottom: 50px;
  .block {
    .mosaic-left, .mosaic-right {
      .even {
        margin-left: 0 !important;
      }
      .odd {
        margin-right: 0 !important;
      }
    }

    .mosaic-left {
      .large-tile {
        margin-bottom: 0 !important;
      }
    }

    .mosaic-left, .mosaic-right {
      .tile {
        height: 150px;
        margin: 10px;
      }

      .small-tile {
        background: url("../images/small-tile.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 48%;
      }

      .even {
        float: left;
      }

      .odd {
        float: right;
      }

      .large-tile {
        background: url("../images/large-tile.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        clear: both;
        margin: 10px 0px;
        height: 300px !important;
      }
    }
  }
}
