@import "compass/css3/images";

body {
  background: none;
}

.zone-branding-wrapper {
  @include background-image(linear-gradient(to right, #210901 0%,#3A2212 50%,#210901 100%));
  color: #fff;

  .zone-branding {
    p {
      padding: 15px 0;
      margin: 0;
    }

    div.logo {
      padding: 0 0 10px;
    }

    ul.menu {
      padding: 8px 0;
    }

    .region-user-first {
        font-size: 28px;
        letter-spacing: 12px;

        .small-text {
          font-size: 15px;
          letter-spacing: 0px;
        }
    }

    .block-menu {
      ul {
        li {
          list-style: none outside none;
          float: left;
          a {
            color: #fff;
            font-size: 20px;

            &:hover {
              color: #FF6000;
            }
          }
        }
      }
    }
  }
}

#region-user-second {
  float: left;
}
